.main-content {
  background: linear-gradient(to bottom left, #3399ff 0%, #ff33cc 100%);
  height: 100vh;
}

.btn-main {
  padding: 25% 40%;
}

.login-btn, .reg-btn {
  padding: 10px 40px;
  border: none;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .btn-main {
    padding: 25% 40%;
  }
}