@import "root";

.main-content{
    background: linear-gradient(to bottom left, #3399ff 0%, #ff33cc 100%);
    height: 100vh;
}

.main-btns{
    padding: 25% 0;
}

.login-btn{
    padding: 10px 40px;
    border: none;
    border-radius: 2px;
}
.reg-btn{
    @extend .login-btn;
}
.btn-login{
    margin-bottom: 10px;
}
.admin-card{
    background-color: var(--card-color);
    padding: 30px;
    border-radius: 5px;
    transition: 0.5s;
}
.admin-card:hover{
    margin: -10px;
}
.icon-admin{
    font-size: 50px;
}

@media screen and (max-width: 600px) {
    .main-btns{
        padding: 50% 0;
    }

}



